body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
  
body {
    background-image: url('https://cdn.glitch.global/0d38555e-3f2b-4f1e-9b6e-19435034db9f/ifcn.jpg?v=1695926032524');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* 
.container {
    background-color: #034e18b5;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
   
} */
/* 

  h2 {
      text-align: center;
}

    form {
      display: flex;
      flex-direction: column;
}

    label {
      margin-bottom: 5px;
      width: 200px;
}

      input[type="text"],
      input[type="password"] {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
}

      input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
}

    input[type="submit"]:hover {
        background-color: #0056b3;
}

      a  {
        text-align: center;
}

    a:hover {
        text-decoration: underline;
    } */

#botaoCadastro:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
    }
    
#divBotaoVoltarLogin:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
    }

      